.Character_Cache_Item {
  border-radius: 6px; 
  margin-bottom: 7px;
  cursor: pointer;
  position: relative;
  padding: 0;
  border: none; 

  &.Active {
    img {
      opacity: 1;
      border: 2px solid #0005FF;
    }
  }

  img {
    width: 100%;
    border-radius: 6px;
    padding: 3px;
    opacity: 0.4;
  }

  .Close_Button {
    width: 20px;
    height: 20px;
    background: #F1F1F1;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;

    svg {
      width: 15px;
      height: 15px;
      display: none;
    }

    &:hover svg {
      display: block;
    }
  }

  &:hover .Close_Button {
    display: flex;
  }
}