.Search_Wrapper {
  position: relative;
  margin-bottom: 27px;

  .Search_Input {
    padding-right: 49px;
  }

  button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-bottom: 1px solid #000;

    &:disabled {
      color: #B1B1B1;
    }
  }
}