body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 65px 0;

  ::placeholder {
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    color: #B1B1B1;
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
    margin: 50px 0 15px;
  }

  h2.not_found {
    color: #FF0000;
  }

  .action_btn {
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    color: #0005FF;
    background: #fff;
    border: 0;
  }

  input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    font-style: italic;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  .known_info {
    color: #000000;
  }

  .unknown_info {
    color: #B1B1B1;
  }

  .Dead {
    color: #FF0000;
  }

  .alive {
    color: #00ff00;
  }
}
