body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 65px 0;

  ::placeholder {
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    color: #B1B1B1;
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
    margin: 50px 0 15px;
  }

  h2.not_found {
    color: #FF0000;
  }

  .action_btn {
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    color: #0005FF;
    background: #fff;
    border: 0;
  }

  input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    font-style: italic;
    padding-right: 49px;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  .search_wrapper {
    position: relative;
    margin-bottom: 27px;

    button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-bottom: 1px solid #000;

      &:disabled {
        color: #B1B1B1;
      }
    }
  }

  .character_photo_wrapper {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.0914656);
    }

    .loader_wrapper {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .character_info_wrapper {
    .character_info_item_wrapper {
      display: flex;
      align-items: center;
      margin: 10px 0;

      .character_info_item {
        margin-right: 20px;
        min-width: 80px;
        font-size: 16px;
        line-height: 21px;
        color: #B1B1B1;
      }

      .known_info {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
      }

      .unknown_info {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #B1B1B1;
      }

      .dead {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #FF0000;
      }

      .alive {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #00ff00;
      }
    }
  }

  .character_cache_list {
    margin-top: 30px;

    .character_cache_item {
      border-radius: 6px; 
      margin-bottom: 7px;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 6px;
        padding: 3px;
        opacity: 0.4;
      }
    }
  }
}
